name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version: '1.24'

    - name: Verify formatting
      run: |
        if [ "$(gofmt -l . | wc -l)" -gt 0 ]; then
          echo "Please run gofmt"
          gofmt -l .
          exit 1
        fi

    - name: Verify go mod
      run: |
        go mod verify
        go mod tidy
        git diff --exit-code go.mod go.sum

    - name: Run go vet
      run: go vet ./...

    - name: Run tests
      run: go test -v -race ./...

    - name: Build
      run: go build .
